<form>
  <div class="form-group">
    <label for="chamber">View Committees by Chamber: </label>
    {{#x-select value=chamber}}
        {{#x-option value="house"}}House{{/x-option}}
        {{#x-option value="senate"}}Senate{{/x-option}}
    {{/x-select}}
  </div>
  <button {{action 'chamberLookup'}}>Search</button>
</form>
